

<section class="about" id="about">
    <h2>About</h2>
    <p>Discover our story in providing camping services.</p>
    <div class="row company-info">
      <h3>My Story</h3>
      <p>I have gained over seven years working experience as a project coordinator and project manager both in a tech and
        outside tech environments. I have attended various project management and leadership conferences to help bolster my
        experience and expertise in global project coordination.
      </p>
    </div>
    <div class="row mission-vision">
      <h3>My Mission</h3>
      <p>To create and lead an impact driven team where every team member is actively involved to provide excellent service and
        deliverables to clients.
      </p>
      <h3>My Vision</h3>
      <p>To be analytical, highly organized, impact driven project leader and to be internationally recognized for excellent
        performance within my industry. I am intentionally committed to growing as a leader and delivering value-added projects
        to end users.
      </p>
    </div>
  </section>