

<section class="portfolio" id="portfolio">
    <h2>Projects</h2>
    <p>Take a look at some of my project collaborations:</p>
    <ul class="cards">
      <li class="card">
        <img src="/Assets/images/wind_install_proj.jpg" alt="img">
        <h3>Maple Farms Windmill Installation</h3>
        <p>Worked as the Project Coordinator of this project at Maple Farms Inc.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/solar_install_proj.jpg" alt="img">
        <h3>ConClave Office Solar Installation</h3>
        <p>Worked as the Project Manager in the solar installation at ConClave Inc.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/office_comp_proj.jpg" alt="img">
        <h3>ConClave Office Complex Construction</h3>
        <p>Worked in the construction of this office complex as the Project Coordinator.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/office_build_proj.jpg" alt="img">
        <h3>Trinkert Office Building Construction</h3>
        <p>Project Manager in the new office construction of Trinkert LLC.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/library_proj.jpg" alt="img">
        <h3>Gloucester Library Renovation</h3>
        <p>I was the Project Coordinator for the renovation of the Gloucester library.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/sport_comp_reno.jpg" alt="img">
        <h3>Burlington Public Sports Complex</h3>
        <p>Assigned the Project Coordinator for the construction of the Burlington public sport complex.</p>
      </li>
    </ul>
  </section>