

<section class="services" id="services">
    <h2>Services</h2>
    <p>Explore the list of my major services below:</p>
    <ul class="cards">
      <li class="card">
        <img src="/Assets/images/projdocs.jpg" alt="img">
        <h3>Project Management Documents</h3>
        <p>Assisting the project manager in the development of project management documents such as project budgets,
            project schedules, scope statements, and project plans.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/financedist.jpg" alt="img">
        <h3>Project Resources</h3>
        <p>Coordination of the allocation of project resources to ensure the project team has what's needed at the right time</p>
      </li>
      <li class="card">
        <img src="/Assets/images/taskassign.jpg" alt="img">
        <h3>Task Assigning</h3>
        <p>Assigns tasks to team members and help them understand what's expected from them in terms of project milestones
            and deliverables.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/teamcollab.jpg" alt="img">
        <h3>Cross-Team Collaboration</h3>
        <p>Foster cross-team collaboration to help project team members complete project tasks and produce deliverables.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/promonitor.jpg" alt="img">
        <h3>Project Progress Monitoring</h3>
        <p>Help project managers monitor project progress and team members' performance and provide updates to project stakeholders.</p>
      </li>
      <li class="card">
        <img src="/Assets/images/projadmin.jpg" alt="img">
        <h3>Project Administration</h3>
        <p>Execute project management administrative and bookkeeping tasks such as managing invoices, purchase orders and
            inventory reports, among other financial documents.</p>
      </li>
    </ul>
  </section>